body{
    background-color: black;
    text-align: center;
    color: white;
}
img{
    border-style: solid;
    border-width: 5px;
}
h1{
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
button{
    border: none;
    color: black;
    background-color: white;
    font-size: 50px;
    border-radius: 9px;
    margin-bottom: 40px;
}
.button-1{
    background-color: #000;
    color: aliceblue;
    font-size: 30px;
}
.button-1:hover{
    font-size: 32px;
}
button:hover{
    font-size: 60px;
    background-color: red;
    color: #000;
}
.gameover-tekstblokk{
    color: red;
}



/*backstory styling */
.backstory-blokk{
    background-color: antiquewhite;
    border-radius: 9px;
    padding: 30px 30px;
    margin: auto;
    width: 80%;
    border: 3px solid rgb(250, 252, 250);

}

.backstory-tekstblokk{
    color: black;
    background-color: rgb(169, 195, 195);
    border-radius: 9px;
    font-size: 20px;
    text-align: left;
    padding: 8px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    width: 80%;
    border: 5px solid rgb(255, 255, 255);

}

.backstory-imgblokk{
    width: 900px;
    background-color: antiquewhite;
}

/*hoved styling ligger under her*/
.main-blokk{
    background-color: antiquewhite;
    border-radius: 9px;
    padding: 30px 30px;
    margin: auto;
    width: 80%;
    border: 3px solid rgb(250, 252, 250);
}
.main-tekstblokk{
    color: black;
    background-color: rgb(169, 195, 195);
    border-radius: 9px;
    font-size: 20px;
    text-align: left;
    padding: 8px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    width: 80%;
    border: 5px solid rgb(255, 255, 255);
}


.main-imgblokk{
    background-image: url(../bilder/herjus.jpeg);
    width: 900px;

}