
.story-button{
    border: none;
    color: black;
    background-color: white;
    font-size: 30px;
    border-radius: 9px;
    margin-bottom: 40px;
}

.story-button:hover{
    font-size: 34px;
    background-color: red;
    color: #000;
}


#story-container {
    border: none;
    height: 100vh;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f86b6b;
    margin: 0;
}
.side{
    width: 1000px;
    justify-content: center;
    justify-items: center;
}