
.story-button{
    border: none;
    color: black;
    background-color: white;
    font-size: 25px;
    border-radius: 9px;
    margin-bottom: 25px;
    width: 300px;
    height: 90px;
}

.story-button:hover{
    font-size: 26px;
    background-color: red;
    color: #000;
}


#story-container {
    border: none;
    height: 100vh;
    font-size: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f86b6b;
    margin: 0;
}
.side{
    border: 3px solid green;
    text-align: center;
    background-color: #c8c0c0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img{
    border: 3px solid green;
    width: 620px;

}